/* default.blade.php */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: #fafafa;
}

.container.row {
    text-indent: 10px;
}

.lead-big {
    font-size: 23px;
    margin-bottom: 21px;
    font-weight: 200;
    line-height: 1.4;
}

.lead {
    font-size: 17px;
    margin-bottom: 21px;
    font-weight: 200;
    line-height: 1.4;
}

p {
    font-size: 17px;
}

nav.navbar.navbar-custom {
    margin-bottom: 0;
}

nav.navbar.navbar-custom div.container {
    max-width: 800px;
}

header.intro div.container {
    padding: 20px 0 0 0;
}

footer {
    margin: 25px 0 25px 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0));
}

/* Index / home */

/* Hero Unit */
#hero-background {
    overflow: hidden;
    background-size: cover;

    height: 300px;
    padding-top: 60px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.hero-background-index {
    text-shadow: -1px -1px 6px #000;
    color: #e7e7e7;
    background-image: url("/assets/image/index-wallpaper-blur-sm.jpg");
}

.hero-background-time {
    color: #ffffff;
    background-image: url("/assets/image/timeline-time.jpg");
}

.hero-background-construction {
    color: #000000;
    background-image: url("/assets/image/construction-wallpaper-blur-sm.jpg");
}

#hero-button {
    margin-top: 50px;

    border: none;
    background-color: #4684b2;
}

.hero-background-time #hero-button {
    margin-top: 150px;
}

/* !Hero Unit */

.portfolio-block {
    margin: 25px 0 25px;
}

.portfolio-block h2 {
    text-transform: capitalize;
}
/* !Index / home */
/* Resume */
#resume-header {
    margin-bottom: 50px;
    margin-top: 50px;
}
/* !Resume */

/* General stuff */
@media (max-width: 991px) {
    .text-center-sm { /* Only center text if sm or less */
        text-align: center;
    }
}
